<div id="main">
    <div id="addProduct">
        <input type="text" id="newProduct">
        <button id="btnSend">Enviar</button>
    </div>

    <div id = "realTimeProducts">
        
    </div>
   
</div>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.5/dist/sweetalert2.all.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="/js/index.js"></script>


